option_settings:
- option_name: SFB_HOST
value: placeholder
- option_name: SFB_DBNAME
value: placeholder
- option_name: SFB_USERNAME
value: placholder
- option_name: SFB_PASSWORD
value: placeholder
- option_name: FA_HOST
value: placeholder
- option_name: FA_DBNAME
value: placeholder
- option_name: FA_USERNAME
value: placeholder
- option_name: FA_PASSWORD
value: placeholder
- option_name: MSSQL_HOST
value: placeholder
- option_name: MSSQL_DBNAME
value: placeholder
- option_name: MSSQL_USERNAME
value: placeholder
- option_name: MSSQL_PASSWORD
value: placeholder
- option_name: MONGO_HOST
value: placeholder
- option_name: ADO_STRING
value: placeholder
