files:
  "/etc/yum.repos.d/mongodb-org-3.2.repo":
    mode: "000644"
    content: |
      [mongodb-org-3.2]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.2/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-3.2.asc
container_commands:
  00-install_packages:
    command: sudo yum install -y php56-mssql mongodb-org-shell mongodb-org-tools
  01-set_timezone:
    command: sed -i 's@date.timezone = .*@date.timezone = America/New_York@' /etc/php.ini
  02-download_cloud_health:
   command: wget https://s3.amazonaws.com/remote-collector/agent/v18/install_cht_perfmon.sh -O install_cht_perfmon.sh;
   ignoreErrors: true
  03-install_cloud_health:
   command: sudo sh install_cht_perfmon.sh 18 a283042a-352e-4970-8ba5-15b2a7388f10 aws;
