files:
  "/etc/yum.repos.d/mongodb-org-3.2.repo":
    mode: "000644"
    content: |
      [mongodb-org-3.2]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.2/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-3.2.asc
container_commands:
  00-install_packages:
    command: sudo yum install -y php56-mssql mongodb-org-shell mongodb-org-tools php-pear php-devel 
  03-install mongo-driver:
    command: sudo pecl install mongo