{% extends "html/page.twig" %}

{% block title %}Report List{% endblock %}

{% set breadcrumb = {"Report List": true} %}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{base}}/public/css/report_list.css" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content%}
        <form method="post" action="index.php">
            <label for="username">Username:</label><br/>
            <input type="text" name="username" id="username"><br/>
            <label for="password">Password:</label><br/>
            <input type="password" name="password" id="password"><br/>
            <input type="submit" value="Log In!">
        </form>
{% endblock%}